@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f13d;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #b1b1b160;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

#gameplay-container {
    background-image: url("https://wallpaperaccess.com/full/1089608.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    resize: both;
    overflow: hidden;
}

@media (max-width: 768px) {
    #gameplay-container {
        background-image: url("https://cdn.discordapp.com/attachments/1152318832602525706/1152759917204209724/4x.png");
    }
}

.title {
    position: absolute;
    top: 0;
    width: 200px;
}

.title img {
    width: 100%;
    height: 100%;
}

.brand {
    position: absolute;
    top: 5px;
    right: 0;
    width: 50px;
}

.brand img {
    width: 100%;
    height: 100%;
}

.desk-bg {
    height: 500px;
    width: 325px;
}

.desk-bg img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.pokemon-desk {
    position: relative;
}

.desk-ball {
    height: 40px;
    width: 50px;
    position: absolute;
    top: 18px;
    left: 33px;
}

.desk-ball img {
    height: 100%;
    width: 100%;
}

.desk-share {
    position: absolute;
    width: 200px;
    height: 100px;
    top: -1px;
    right: -130px;
}

.level-display {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 60px;
    height: 25px;
}

.level-display img {
    width: 100%;
    height: 100%;
}

.level {
    /* font-weight: bold; */
    color: white;
    position: absolute;
    top: 1px;
    left: 8px;
}

.leaderboard-btn {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 70px;
    height: 25px;
}

.leaderboard-btn img {
    width: 100%;
    height: 100%;
}


/* .table-wrapper {
    max-height: 100px;
} */

.desk-display {
    height: 260px;
    width: 247px;
    /* background-color: white; */
    position: absolute;
    top: 93px;
    left: 40px;
    padding-left: 10px;
}

h1 {
    margin: 0;
    font-weight: medium;
    font-size: 25px;
}

textarea {
    margin: 0;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    height: 70px;
    width: 230px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.gpt-response {
    margin-top: 10px;
}

.desk-instructions {
    position: absolute;
    top: 361px;
    left: 30px;
    height: 50px;
    width: 255px;
    background-color: transparent;
    color: black;
    overflow: hidden;
    padding: 0px;
    /* position: relative; */
}

#scrolling-text {
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 5s linear infinite;
    -webkit-animation: scroll-left 5s linear infinite;
    animation: scroll-left 10s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        /* Browser bug fix */
        -webkit-transform: translateX(100%);
        /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Browser bug fix */
        -webkit-transform: translateX(-100%);
        /* Browser bug fix */
        transform: translateX(-100%);
    }
}

.desk-input {
    position: absolute;
    top: 410px;
    left: 103px;
    width: 140px;
    height: 65px;
}

#prompt-input {
    /* background-color: white; */
    width: 100%;
    height: 100%;
}

​.desk-submit {
    position: absolute;
    width: 50px;
    background-color: blue;
    height: 10px;
    top: 300px;
}

#submit-btn {
    position: absolute;
    background-color: transparent;
    bottom: 30px;
    right: 20px;
    width: 45px;
    height: 30px;
    /* all: unset; */
    border: none;
    outline: none;
}

button:focus {
    outline: none !important;
}

@keyframes wave {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(100%) translateY(-50px);
    }
    50% {
        transform: translateX(300%) translateY(0);
    }
    75% {
        transform: translateX(500%) translateY(50px);
    }
    100% {
        transform: translateX(1000%) translateY(0);
    }
}

.poke-fly-path {
    position: absolute;
    width: 100vw;
    height: 500px;
    /* background-color: black; */
    top: 0;
    display: flex;
    flex-direction: row;
}

.flying-pokemon {
    position: absolute;
    animation: wave 10s linear infinite;
    transition: 1s ease;
    /* You can adjust the animation duration (5s) as needed */
}